body,div,ul,li,textarea{padding:0;margin:0;}
#lis{
	float:left;
	position:fixed;
	width:20%;
	height:100%;
	text-align:center;
}
.blog-lis{
	margin-top: 10px;
	border-top:1px solid #ccc;
}
#contents{
	float:right;
	width:80%;
}